/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reseeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeet*/
.wrap{
  width:1280px;
  height:auto;
  background-color:#5CADAD;
  margin-right: auto;
  margin-left: auto;
}
p{
	font-family:'PT Sans',sans-serif;
	font-size: 18px;
	line-height:28px;
}
a{
	text-decoration: none; 
	color:#EAC100;
}
a:hover{
	color:#EAC100;
}
.header{
  height:480px;
  background-color:#B8D3D3;
}
/*以下是輪播*/
a img {
	border: none;
}
#abgne_fade_pic {
	position: relative;
	width: 600px;
	height: 375px;
	border: 1px solid #ccc;
	margin-right: auto;
  	margin-left: auto;
}
#abgne_fade_pic a.ad {
	position: absolute;	/* 讓圖片疊在一起 */
}
#abgne_fade_pic .control {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#abgne_fade_pic .control a {
	display: inline-block;
	padding: 3px;
	margin: 0 3px;
	width: 16px;
	color: #fff;
	background: #000;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}
#abgne_fade_pic .control a.on {
	font-weight: bold;
	color: yellow;
}
/*以上是輪播*/
.function ul  {
	margin-right: auto;
  	margin-left: auto;
  	width:700px;
  	height:100px;
}
.function ul li{
	display:block;
	float: left;
  	width:200px;
  	height:50px;
  	margin-left:100px;
	margin-top:25px;
  	text-align:center;
}
.function1{
	width:205px;
  	height:57px;
	background-image: url('function_icon_1.png');
	border:0px solid #B8D3D3;
}
.function1:hover{
	width:205px;
  	height:57px;
	background-image: url('function_icon_action_1.png');
	border:0px solid #B8D3D3;
}
.function2{
	width:205px;
  	height:57px;
	background-image: url('function_icon_2.png');
	border:0px solid #B8D3D3;
}
.function2:hover{
	width:205px;
  	height:57px;
	background-image: url('function_icon_action_2.png');
	border:0px solid #B8D3D3;
}
.content{
  height:auto;
  background-color:	#5CADAD;
}
.map{
	width:1000px;
  	height:800px;
  	margin-right: auto;
  	margin-left: auto;
}
.mapshow{
	width:700px;
	height:800px;
  	background-color:white;
  	float: left;
}
.mapitem{
	width:280px;
	height:800px;
  	background-color:white;
  	float:right;
}
.footer{
  height:100px;
  background-color:#336666;
  padding-top: 50px; 
}
.footer p{
	text-align:center;
	font-size: 18px;
	color:	#BEBEBE;
}
.footer a{
	color:	#949449;
}
.footer a:hover{
	color:#EAC100;
}