
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reseeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeet*/
.wrap{
  width:1280px;
  height:auto;
  background-color:#DBEEF5;
  margin-right: auto;
  margin-left: auto;
}
p{
	font-family:'PT Sans',sans-serif;
	font-size: 18px;
	line-height:28px;
}
a{
	text-decoration: none; 
	color:#EAC100;
}
a,li:hover{
	color:#EAC100;
}

.header{
  height:565px;
  background-color:white;
}
.logo{
	height:190px;  
	padding-top: 0px;
}
.logo h1{
  position: absolute;
  top:41px;
  left:520px;
  width: 250px;
  height: 109px;
}
.logo a{
  width: 250px;
  height: 109px;
  display: block;
  text-indent:-9999px;
  background-image: url('../images/logo.png');
}
/*以下是輪播*/
a img {
	border: none;
}
#abgne_fade_pic {
	position: relative;
	width: 1280px;
	height: 375px;
	border: 0px solid #ccc;
}
#abgne_fade_pic a.ad {
	position: absolute;	/* 讓圖片疊在一起 */
}
#abgne_fade_pic .control {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#abgne_fade_pic .control a {
	display: inline-block;
	padding: 3px;
	margin: 0 3px;
	width: 16px;
	color: #fff;
	background: #000;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}
#abgne_fade_pic .control a.on {
	font-weight: bold;
	color: orange;
}
/*以上是輪播*/
.content{
  height:auto;

}
.map{
	width:1000px;
  	height:800px;
  	margin-right: auto;
  	margin-left: auto;
  	background-color:  black;
}
.mapitem{
	width:280px;
	height:800px;
  	background-color:white;
  	float:right;
  	margin-right: 140px;
}
#div_showMap{
	width: 700px; 
	height: 800px;
	float:left;
}

.footer{
  height:250px;
  background-color:	#3E6184;
  padding-top: 40px; 
}
.footer p{
	text-align:left;
	font-size: 18px;
	color:	#BEBEBE;
	line-height:22px;
	margin-left: 100px;
}
.footer a{
	color:	#949449;
	font-size: 16px;
}
.footer a:hover{
	color:#EAC100;
}
.footer li{
	font-family:'PT Sans',sans-serif;
	font-size: 16px;
	line-height:24px;
	display: block;
	float:left;
	margin-right: 10px; 
}
.footer ul{
	margin-left: 100px;
}
.piclink{
	clear: both;
}
@media only screen and (max-width: 768px) {
.wrap{
  width:100%;
}
.header{
  height:auto;
  padding-bottom: 29%;
}
.logo h1{
  left:35%;		
}
/*以下是輪播*/
#abgne_fade_pic {
	width: 100%;
	height: 38%;
}
#abgne_fade_pic .control {
	top:100%; /*******************************************************/
}
#abgne_fade_pic a img{
	width: 100%;
	height: 100%;
}
/*以上是輪播*/
.content{
  height:auto;
}
.map{
	width:90%;
  	height:500px;
}
#div_showMap{
	width: 69%; 
	height: 500px;
}
.mapitem{
	width:29%;
	height:500px;
  	margin-right: 3%;
}
.footer p{
	margin-left:10%;
}
.footer ul{
	margin-left:10%;
}
}
@media only screen and (max-width: 480px) {
.wrap{
  width:100%;
}
.header{
  height:auto;
  padding-bottom: 0%;
}
.logo h1{
  left:18%;		
}
.map{
	width:90%;
  	height:900px;
}
.mapitem{
	width:90%;
	height:400px;
  	float:left;
  	margin-left: 5%;
 
}
#div_showMap{
	width: 100%; 
	height: 500px;
}
.footer p{
	font-size: 14px;
}
@media only screen and (max-width: 320px) {
.wrap{
  width:100%;
}
.header{
  height:auto;
  padding-bottom: 0%;
}
.logo h1{
  left:10%;		
}
/*以下是輪播*/
#abgne_fade_pic {
	width: 0%;
	height: 0%;
}
#abgne_fade_pic .control {
	top:-9999px; /*******************************************************/
}
#abgne_fade_pic a img{
	width: 0%;
	height: 0%;
}
/*以上是輪播*/
.map{
	width:90%;
  	height:300px;
}
.mapitem{
	width:90%;
	height:200px;
  	float:left;
  	margin-left: 5%;
 
}
#div_showMap{
	width: 100%; 
	height: 300px;
}

}
	